POSTGRES_USER=shortlink
POSTGRES_PASSWORD=change_me
POSTGRES_DB=postgres
POSTGRES_HOST=host
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=shortlink
RABBITMQ_DEFAULT_PASS=change_me
RABBITMQ_USER=shortlink
RABBITMQ_PASSWORD=change_me
RABBITMQ_PORT=5672
RABBITMQ_HOST=host
RABBITMQ_MANAGEMENT_PORT=15672

LINK_SERVICE_PORT=8001